<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/style.css">
    <title> Register </title>
</head>

<body>

    <body>
        <div class="login-page">
            <div class="form">
                <div class="login">
                    <div class="login-header">
                        <h3>SIGN IN</h3>
                        <p>Please enter your credentials to sign-in.</p>
                    </div>
                </div>
                <form class="login-form" method="POST">
                    {{ form.hidden_tag() }}
                    {{ form.username }}
                    {{ form.password }}
                    <p class="button">{{ form.submit }}</p>
                    <p class="message">Already have an account? <a href="{{url_for('login')}}">Login</a></p>
                </form>
            </div>
        </div>
    </body>
</body>

</html>





