

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Kanun-The Old Ironside</title>
        <link rel="stylesheet" href="home.css">
        <style>
            table,th,td{
                border:1px solid #aa9166;
                background-color: black;
                color: aliceblue;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                
                
            }
        </style>
        <style>
            body {
              background-image: url("https://wallpaperaccess.com/full/702996.jpg");
            }
            </style>
        <link rel="stylesheet" href="style.css">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Law Firm Website Template" name="keywords">
        <meta content="Law Firm Website Template" name="description">
        <link rel="stylesheet" href="emergency.css">

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon">

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,600;1,700;1,800&family=Roboto:wght@400;500&display=swap" rel="stylesheet"> 
        
        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="css/style.css" rel="stylesheet">
    </head>

    <body>
     
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Contact Numbers</title>
    <link rel="stylesheet" href="emergency.css">
</head> -->
<body>
    <h1>Emergency Contact Numbers</h1>
    <table style="width:50%">
        <caption><h3>Emergency First Response</h3></caption>
        <tr>
          <th height="50px;">Emergency Helpline</th>
          <th>Emergency Contact Number</th>
        </tr>
        <tr>
          <td>National Emergency Number</td>
          <td>112</td>
        </tr>
        <tr>
          <td>Police</td>
          <td>100</td>
        </tr>
        <tr>
            <td>Fire</td>
            <td>101</td>
        </tr>
        <tr>
            <td>Ambulance</td>
            <td>102</td>
        </tr>
        <tr>
            <td>Disaster Management Services</td>
            <td>108</td>
        </tr>
        <tr>
            <td>Women Helpline</td>
            <td>1091</td>
        </tr>
        <tr>
            <td>Deputy Commissioner Of Police – Missing Child And Women</td>
            <td>1094</td>
        </tr>
        <tr>
            <td>Railway Enquiry</td>
            <td>102</td>
        </tr>
        <tr>
            <td>Ambulance</td>
            <td>139</td>
        </tr>
        <tr>
            <td>Senior Citizen Helpline</td>
            <td>14567</td>
        </tr>
        <tr>
            <td>Railway Accident Emergency Service</td>
            <td>1072</td>
        </tr>
        <tr>
            <td>Road Accident Emergency Service</td>
            <td>1073</td>
        </tr>
        <tr>
            <td>Relief Commissioner For Natural Calamities</td>
            <td>1070</td>
        </tr>
        <tr>
            <td>Children In Difficult Situation</td>
            <td>1098</td>
        </tr>
        <tr>
            <td>Tourist Helpline</td>
            <td>1363 or 1800111363</td>
        </tr>
        <tr>
            <td>LPG Leak Helpline</td>
            <td>1906</td>
        </tr>
        <tr>
            <td>KIRAN MENTAL HEALTH Helpline</td>
            <td>18005990019</td>
        </tr>
        <tr>
            <td>CYBER CRIME HELPLINE</td>
            <td>155620</td>
        </tr>
        <tr>
            <td>Traffic Help</td>
            <td>1073</td>
        </tr>
      </table>

       <!-- Newsletter Start -->
       <div class="newsletter">
        <div class="container">
            <div class="section-header">
                <h2>Contact us for more information</h2>
            </div>
            <!-- <div class="form">
                <input class="form-control" placeholder="Email here">
                <button class="btn">Submit</button>
            </div> -->
        </div>
    </div>
    <!-- Newsletter End -->


    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-about">
                        <h2>About Us</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu lectus a leo tristique dictum nec non quam. Suspendisse convallis, tortor eu placerat rhoncus, lorem quam iaculis felis, sed eleifend lacus neque id eros. Integer convallis volutpat neque
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-8">
                    <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="footer-link">
                        <h2>Services Areas</h2>
                        <a href="">Civil Law</a>
                        <a href="">Family Law</a>
                        <a href="">Business Law</a>
                        <a href="">Education Law</a>
                        <a href="">Immigration Law</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="footer-link">
                        <h2>Useful Pages</h2>
                        <a href="">About Us</a>
                        <a href="">Practices</a>
                        <a href="">Attorneys</a>
                        <a href="">Case Studies</a>
                        <a href="">FAQs</a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="footer-contact">
                        <h2>Get In Touch</h2>
                        <p><i class="fa fa-map-marker-alt"></i>123 Street, New York, USA</p>
                        <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                        <p><i class="fa fa-envelope"></i>info@example.com</p>
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container footer-menu">
            <div class="f-menu">
                <a href="">Terms of use</a>
                <a href="">Privacy policy</a>
                <a href="">Cookies</a>
                <a href="">Help</a>
                <a href="">FQAs</a>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; <a href="https://htmlcodex.com/law-firm-website-template">HTML Codex</a>, All Right Reserved.</p>
                </div>
                <div class="col-md-6">
                    <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
</body>
</html>